body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .display {
    display: none;
  }
}
.footer-wrap {
  display: flex;
  justify-content: space-around;
}
.nav-black {
  background-color: purple;
  opacity: 0.9;
  color: white;
}
